{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <div class="wapper">
       <div class="page-banner">
            <div class="container text-center clearfix">
                <h1>Tin tức</h1>
                <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li class="active">Tin tức</li>
                </ol>
            </div>
        </div>
        <div id="article" class="main-page article-detail clearfix">
            <div class="container article">
                <!-- Begin article -->
                <div class="row article-body">
                    <div class="col-md-8 articles clearfix" id="layout-page">
                        <span class="header-page clearfix">
                    <h1>Mở rộng thêm thị trường Xuất khẩu Nông sản</h1>
                </span>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="author-post clearfix">
                                    <div class="article-author">
                                        <ul>
                                            <li class="author">
                                                <p>
                                                    Người viết:<span> Duyên Nguyễn</span>
                                                </p>
                                            </li>
                                            <!--Begin:ngày giờ đăng bài viết  -->
                                            <li class="date-post">
                                                <p>
                                                    <i class="fa fa-clock-o"></i> 29/06/2016
                                                </p>
                                            </li>
                                            <!--End:ngày giờ đăng bài viết  -->
                                        </ul>
                                    </div>
                                    <!--Begin: số bình luận  -->
                                    <!--End: số đăng bình luận   -->
                                </div>
                            </div>
                            <div class="col-md-12 article-content">
                                <div class="body-content">
                                    <p>Trái với nhiều dự đoán ban đầu, trong sáu tháng đầu năm 2014, bức tranh chung về xuất khẩu nông sản nước ta tiếp tục ghi nhận những nét khả quan: Kim ngạch xuất khẩu toàn ngành nông nghiệp đạt 14,88 tỷ USD, tăng 12,7% so với cùng kỳ năm trước. Trong đó, giá trị xuất khẩu thủy sản ước đạt 3,45 tỷ USD, tăng 24,2%; giá trị xuất khẩu các mặt hàng lâm sản chính ước đạt 3,01 tỷ USD, tăng 14,9% so với cùng kỳ năm 2013.</p>
                                    <p>
                                        <br data-mce-bogus="1">
                                    </p>
                                    <div><img src="//hstatic.net/760/1000098760/10/2016/6-29/trai-cay.jpg" data-mce-src="//hstatic.net/760/1000098760/10/2016/6-29/trai-cay.jpg"></div>
                                    <p>Tuy nhiên, không thể phủ nhận một thực tế là trong các tháng 5 và 6-2014, lĩnh vực xuất khẩu nông sản bắt đầu gặp khó khăn, nhất là đối với một số thị trường truyền thống lớn, và dự báo tình hình này sẽ còn kéo dài. Vì vậy mới đây Chính phủ đã giao cho Bộ Công thương, Bộ Nông nghiệp và Phát triển nông thôn nghiên cứu đánh giá và đưa ra những giải pháp đẩy mạnh tiêu thụ hàng hóa sản xuất trong nước, nhất là đối với nhóm hàng nông sản thời điểm hiện nay và giai đoạn tiếp theo. Nhất là, việc đa dạng hóa thị trường đang được triển khai quyết liệt và là nhiệm vụ trọng tâm của nửa năm còn lại, bằng cách đẩy mạnh xuất khẩu nông sản sang các thị trường mới, trước hết là những thị trường quen thuộc trong khối ASEAN như In-đô-nê-xi-a, Phi-li-pin... và rộng ra là các nước trong khu vực châu Á như Nhật Bản, Hàn Quốc, kể cả những thị trường khó tính như EU.
                                        <br>
                                        <br>Ðành rằng, việc đa dạng hóa thị trường xuất khẩu là cần thiết, tuy nhiên muốn vào được những thị trường khó tính này, chúng ta cần nỗ lực, vượt qua các "rào cản kỹ thuật", vấn đề về vệ sinh an toàn thực phẩm... của họ. Thời gian qua, nhiều doanh nghiệp xuất khẩu đã rút ra những bài học đắt giá trong việc đưa hàng nông sản Việt Nam (tôm, gạo, thủy hải sản...) vào một số thị trường nhưng sau đó bị tạm ngưng, thậm chí bị trả lại vì không bảo đảm các điều kiện về an toàn vệ sinh thực phẩm. Do đó, để tăng giá trị sản phẩm và bám rễ ở thị trường mới, thì từ nhà sản xuất đến doanh nghiệp chế biến xuất khẩu nông sản phải tự khẳng định mình bằng việc sản xuất được các mặt hàng có chất lượng cao, bảo đảm các yêu cầu về an toàn vệ sinh thực phẩm để người tiêu dùng các nước sở tại yên tâm.
                                        <br>
                                        <br>Mặt khác, các cơ quan quản lý nhà nước cần có những chính sách cụ thể, tạo điều kiện cho các công ty đầu tư sản xuất các loại nông sản xuất khẩu. Như doanh nghiệp muốn đầu tư hệ thống sản xuất nông sản hiện đại để xuất khẩu khép kín theo yêu cầu của đối tác Nhật Bản, nhưng hiện vẫn chưa có các chính sách hỗ trợ khuyến khích cụ thể; hoặc nếu có thì về mặt pháp lý vẫn gặp quá nhiều khó khăn, nhất là mặt thủ tục vay vốn xuất nhập khẩu thiết bị...
                                        <br>
                                        <br>Vẫn biết trong bối cảnh hiện nay, mở rộng thị trường xuất khẩu nông sản là bộn bề gian khó, nhưng nếu nhận được sự đồng thuận từ hơn 90 triệu người tiêu dùng trong nước và hàng triệu triệu khách hàng nước ngoài thì việc tiêu thụ nông sản Việt Nam vẫn sẽ có cơ hội tăng trưởng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End article-->
                    {% include "../views/block/_sidebar.html" %}
                    </div>
            </div>
        </div>
        {% include "../views/block/_gallary.html" %}
</main>
{% endblock %}