{% extends "layout/_layout.html" %} {% block page-container %}
<aside class="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/images/images-system/slideshow_1.jpg" />
            </li>
            <li>
                <img src="assets/images/images-system/slideshow_3.jpg" />
            </li>
            <li>
                <img src="assets/images/images-system/slideshow_2.jpg" />
            </li>
        </ul>
    </div>
</aside>
<main>
    <div id="wrapper-collection">
        <div class="wap1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 page-item wow fadeInUp item_1" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="banner_home">
                            <div class="banner-img-home">
                                <a href="/pages/frontpage">
                                    <div class="img_banner_home" style="background-image: url(//hstatic.net/760/1000098760/1000138691/information_1.jpg?v=402)">
                                    </div>
                                </a>
                            </div>
                            <div class="content_banner_home">
                                <div class="title_banner_home">
                                    <a href="/pages/frontpage">
                                        <h2>
                        
                        Salad <span>ngon mỗi ngày</span>
                        
                    </h2>
                                    </a>
                                </div>
                                <div class="detail_banner_home text-center">
                                    <p> Viết vài dòng giới thiệu với khách hàng về cửa hàng của bạn (các loại sản phẩm bạn bán, thương...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 page-item wow fadeInUp item_2" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="banner_home">
                            <div class="banner-img-home">
                                <a href="/pages/about-us">
                                    <div class="img_banner_home" style="background-image: url(//hstatic.net/760/1000098760/1000138691/information_2.jpg?v=402)">
                                    </div>
                                </a>
                            </div>
                            <div class="content_banner_home">
                                <div class="title_banner_home">
                                    <a href="/pages/about-us">
                                        <h2>
                        
                        Thực phẩm hữu cơ <span>xanh - sạch mỗi ngày</span>
                        
                    </h2>
                                    </a>
                                </div>
                                <div class="detail_banner_home text-center">
                                    <p> Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 page-item wow fadeInUp item_3" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="banner_home">
                            <div class="banner-img-home">
                                <a href="/pages/frontpage">
                                    <div class="img_banner_home" style="background-image: url(//hstatic.net/760/1000098760/1000138691/information_3.jpg?v=402)">
                                    </div>
                                </a>
                            </div>
                            <div class="content_banner_home">
                                <div class="title_banner_home">
                                    <a href="/pages/frontpage">
                                        <h2>
                        
                        Trái cây<span>nhập khẩu 100%</span>
                        
                    </h2>
                                    </a>
                                </div>
                                <div class="detail_banner_home text-center">
                                    <p> Viết vài dòng giới thiệu với khách hàng về cửa hàng của bạn (các loại sản phẩm bạn bán, thương...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 page-item wow fadeInUp item_4" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="banner_home">
                            <div class="banner-img-home">
                                <a href="/pages/about-us">
                                    <div class="img_banner_home" style="background-image: url(//hstatic.net/760/1000098760/1000138691/information_4.jpg?v=402)">
                                    </div>
                                </a>
                            </div>
                            <div class="content_banner_home">
                                <div class="title_banner_home">
                                    <a href="/pages/about-us">
                                        <h2>
                        
                        Lợi ích của <span>thực phẩm sạch</span>
                        
                    </h2>
                                    </a>
                                </div>
                                <div class="detail_banner_home text-center">
                                    <p> Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            <div class="container">
                <div class="top-line"></div>
                <div class="heading-title">
                    <h3>Sản phẩm nổi bật của Growmax</h3>
                    <p class="text-center">Nông sản sạch 100%</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <!-- Begin collection info -->
                        <!-- Content-->
                        <div class="row main-content">
                            <div class="col-md-12 product-list">
                                <div class="content-product-list products-resize">
                                    <div class="product-list-view row products-grid grid">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="#" title="Xà lách Romaine - 130gr">             
                    <img alt=" Xà lách Romaine - 130gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-romaine-dl_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/xa-lach-romaine-dl" title="Xà lách Romaine - 130gr">Xà lách Romaine - 130gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">7,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr">             
                    <img alt=" Xà lách lô lô tím - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-lo-lo-tim-dl_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr">Xà lách lô lô tím - 100gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Thủy canhNhiều lá úp vào nhau, lá mỏng, mềm, màu tím đặc trưngCách dùng: Salad, trang trí món ănThời gian sử dụng:...
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">7,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr">               
                    <img alt=" Xà lách Ice Berg - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-ice-berg-dl_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr">Xà lách Ice Berg - 100gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">7,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr">               
                    <img alt=" Xà lách Frise - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-6_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr">Xà lách Frise - 100gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">5,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/toi" title="Tỏi - 250gr">                
                    <img alt=" Tỏi - 250gr " src="//hstatic.net/760/1000098760/1/2016/7-21/toi_large.png">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/toi" title="Tỏi - 250gr">Tỏi - 250gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Truyền thốngCách dùng: Nầu canh, hầm, súp, trang trí món ănThời gian sử dụng: 05 ngàyQuy cách đóng gói: Túi/ 250gr
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">28,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/toi" title="Tỏi - 250gr">                
                    <img alt=" Tỏi - 250gr " src="//hstatic.net/760/1000098760/1/2016/7-21/toi_large.png">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/toi" title="Tỏi - 250gr">Tỏi - 250gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Phương pháp trồng: Truyền thốngCách dùng: Nầu canh, hầm, súp, trang trí món ănThời gian sử dụng: 05 ngàyQuy cách đóng gói: Túi/ 250gr
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">28,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/su-su-non" title="Su su non - 300gr">                
                    <img alt=" Su su non - 300gr " src="//hstatic.net/760/1000098760/1/2016/7-21/su-su-non_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/su-su-non" title="Su su non - 300gr">Su su non - 300gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Trái bầu dục, có khía chạy dọc theo thân trái, vỏ mềm, căng bóngCách dùng: Luộc, xào, trang trí món ănThời gian sử dụng: 03...
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">10,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                            <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                                <div class="left-block product-img image-resize" style="height: 262px;">
                                                    <a href="/products/su-su-non" title="Su su non - 300gr">                
                    <img alt=" Su su non - 300gr " src="//hstatic.net/760/1000098760/1/2016/7-21/su-su-non_large.jpg">
                </a>
                                                </div>
                                                <div class="right-block product-detail">
                                                    <h3 class="pro-name"><a href="/products/su-su-non" title="Su su non - 300gr">Su su non - 300gr </a></h3>
                                                    <p class="pro-vendor">
                                                        Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                    </p>
                                                    <p class="product-desc" style="display: none;">
                                                        Trái bầu dục, có khía chạy dọc theo thân trái, vỏ mềm, căng bóngCách dùng: Luộc, xào, trang trí món ănThời gian sử dụng: 03...
                                                    </p>
                                                    <div class="box-price">
                                                        <p class="pro-price">10,000₫</p>
                                                    </div>
                                                    <p class="pro-price-del">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../views/block/_gallary.html" %}
        <div class="wap3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                        <a href="/pages/about-us">
                            <img src="//hstatic.net/760/1000098760/1000138691/left_image_ad.jpg?v=402">
                        </a>
                    </div>
                    <div class="col-md-6 pull-right wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                        <div class="about">
                            <div class="title-about">
                                <h2>SƠ LƯỢC </h2>
                                <h3>Về chúng tôi</h3>
                            </div>
                            <div class="datail-about">
                                <p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ thể về việc kinh doanh, về cửa hàng, thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng trên website của bạn.</p>
                                <p>Một vài gợi ý cho nội dung trang Giới thiệu:</p>
                                <div>
                                    <ul>
                                        <li><span>Bạn là ai</span>
                                            <br>
                                        </li>
                                        <li><span>Giá trị kinh doanh của bạn là gì</span>
                                            <br>
                                        </li>
                                        <li><span>Địa chỉ cửa hàng</span>
                                            <br>
                                        </li>
                                        <li><span>Bạn đã kinh doanh trong ngành hàng này bao lâu rồi</span>
                                            <br>
                                        </li>
                                        <li><span>Bạn kinh doanh ngành hàng online được bao lâu</span>
                                            <br>
                                        </li>
                                        <li><span>Đội ngũ của bạn gồm những ai</span>
                                            <br>
                                        </li>
                                        <li><span>Thông tin liên hệ</span>
                                            <br>
                                        </li>
                                        <li><span>Liên kết đến các trang mạng xã hội (Twitter, Facebook)</span>
                                            <br>
                                        </li>
                                    </ul>
                                </div>
                                <p>Bạn có thể chỉnh sửa hoặc xoá bài viết này tại <a href="https://growmax.myharavan.com/admin/page#/detail/1000186188"><strong>đây</strong></a> hoặc thêm những bài viết mới trong phần quản lý <a href="https://growmax.myharavan.com/admin/page#/new"><strong>Trang nội dung</strong></a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-page" id="blog">
            <div class="container">
                <div class="main-content row">
                    <!-- Begin content -->
                    <div class="blog-content col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="newsletter ">
                                    <div class="home-title">
                                        <h2>Tin Mới</h2>
                                    </div>
                                    <div class="row products-resize">
                                        <div class="col-md-4  wow fadeInUp blog_all_1" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/detail.html">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_1.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/detail.html">Vì sao người tiêu dùng k</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_2" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_2.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_3" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_3.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="newsletter ">
                                    <div class="home-title">
                                        <h2>Danh mục bài viết</h2>
                                    </div>
                                    <div class="row products-resize">
                                        <div class="col-md-4  wow fadeInUp blog_all_1" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/detail.html">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_1.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/detail.html">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_2" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_2.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_3" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
                        <img src="//hstatic.net/760/1000098760/1000138691/img_blogs_3.jpg?v=402" alt="news">
                    </a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" id="blog-container">
                                <div class="row">
                                    <div class="col-md-12 articles clearfix" id="layout-page">
                                        <div class="home-title">
                                            <h2>Tin tức</h2>
                                        </div>
                                        <!-- Begin: Nội dung blog -->
                                        <div class="new-panel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">
                                                    <img src="//hstatic.net/760/1000098760/10/2016/6-29/937770_2013109115015_rau-cu-qua.jpg" alt="Vì sao người tiêu dùng không " tin"="" rau="" sạch?"="">
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="content-panel">
                                                        <h3 class="title-panel"><a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">Vì sao người tiêu dùng không "tin" rau sạch?</a></h3>
                                                        <p> Sau hơn 6 năm triển khai Vietgap (thực hành sản xuất nông nghiệp tốt) tới nay mới chỉ có hơn 2.000 héc ta trên tổng số 830.000 héc ta rau sản xuất hàng năm đạt chứng nhận rau sạch Vietgap....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">
                                                    <img src="//hstatic.net/760/1000098760/10/2016/7-25/dgdfgfhfgh.png" alt="Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị">
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Tỏi Lý Sơn, thanh long Bình Thuận, ổi Long Khánh… được các siêu thị, cửa hàng bán lẻ… dành những vị trí đẹp nhất để trưng bày quảng bá đến người tiêu dùng.Chưa bao giờ các kênh bán lẻ lại...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">
                                                    <img src="//hstatic.net/760/1000098760/10/2016/7-25/blog.png" alt="Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam">
                                                </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Là nước xuất khẩu nông sản lớn trên thế giới nhưng trên sân nhà nông sản Việt Nam có nguy cơ bị bao vây bởi nông sản chất lượng cao đế từ các nước Bắc Mỹ và Newzeland sau TPP.Nếu...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Nội dung blog -->
                                    </div>
                                </div>
                            </div>
                            {% include "../views/block/_sidebar.html" %}
                        </div>
                    </div>
                </div>
                <!-- End content -->
            </div>
</main>
{% endblock %}