{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <div class="main-page" id="wrapper-collection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <!-- Begin collection info -->
                    <!-- Content-->
                    <div class="row main-content">
                        <div class="col-md-12 product-list">
                            <div class="content-product-list products-resize">
                                <div class="product-list-view row products-grid grid">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="#" title="Xà lách Romaine - 130gr">             
                <img alt=" Xà lách Romaine - 130gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-romaine-dl_large.jpg">
            </a>
                                                <a href="/products/xa-lach-romaine-dl" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="#" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-romaine-dl" title="Xà lách Romaine - 130gr">Xà lách Romaine - 130gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr">             
                <img alt=" Xà lách lô lô tím - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-lo-lo-tim-dl_large.jpg">
            </a>
                                                <a href="/products/xa-lach-lo-lo-tim-dl" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783464" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/xa-lach-lo-lo-tim-dl" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/xa-lach-lo-lo-tim-dl" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr">Xà lách lô lô tím - 100gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Thủy canhNhiều lá úp vào nhau, lá mỏng, mềm, màu tím đặc trưngCách dùng: Salad, trang trí món ănThời gian sử dụng:...
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr">               
                <img alt=" Xà lách Ice Berg - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-ice-berg-dl_large.jpg">
            </a>
                                                <a href="/products/xa-lach-ice-berg-dl" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783463" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/xa-lach-ice-berg-dl" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/xa-lach-ice-berg-dl" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr">Xà lách Ice Berg - 100gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr">               
                <img alt=" Xà lách Frise - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-6_large.jpg">
            </a>
                                                <a href="/products/xa-lach-frisee" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783462" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/xa-lach-frisee" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/xa-lach-frisee" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr">Xà lách Frise - 100gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">5,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/toi" title="Tỏi - 250gr">                
                <img alt=" Tỏi - 250gr " src="//hstatic.net/760/1000098760/1/2016/7-21/toi_large.png">
            </a>
                                                <a href="/products/toi" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783455" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/toi" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/toi" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/toi" title="Tỏi - 250gr">Tỏi - 250gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Truyền thốngCách dùng: Nầu canh, hầm, súp, trang trí món ănThời gian sử dụng: 05 ngàyQuy cách đóng gói: Túi/ 250gr
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">28,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/toi" title="Tỏi - 250gr">                
                <img alt=" Tỏi - 250gr " src="//hstatic.net/760/1000098760/1/2016/7-21/toi_large.png">
            </a>
                                                <a href="/products/toi" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783455" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/toi" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/toi" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/toi" title="Tỏi - 250gr">Tỏi - 250gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Phương pháp trồng: Truyền thốngCách dùng: Nầu canh, hầm, súp, trang trí món ănThời gian sử dụng: 05 ngàyQuy cách đóng gói: Túi/ 250gr
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">28,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/su-su-non" title="Su su non - 300gr">                
                <img alt=" Su su non - 300gr " src="//hstatic.net/760/1000098760/1/2016/7-21/su-su-non_large.jpg">
            </a>
                                                <a href="/products/su-su-non" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783454" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/su-su-non" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/su-su-non" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/su-su-non" title="Su su non - 300gr">Su su non - 300gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Trái bầu dục, có khía chạy dọc theo thân trái, vỏ mềm, căng bóngCách dùng: Luộc, xào, trang trí món ănThời gian sử dụng: 03...
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">10,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/su-su-non" title="Su su non - 300gr">                
                <img alt=" Su su non - 300gr " src="//hstatic.net/760/1000098760/1/2016/7-21/su-su-non_large.jpg">
            </a>
                                                <a href="/products/su-su-non" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783454" href="javascript:void(0);" title="Thêm vào giỏ">
                        <i class="fa fa-bars"></i>
                        Thêm vào giỏ
                    </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/su-su-non" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/su-su-non" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/su-su-non" title="Su su non - 300gr">Su su non - 300gr </a></h3>
                                                <p class="pro-vendor">
                                                    Nhà cung cấp: <span>Cầu Đất Farm</span>
                                                </p>
                                                <p class="product-desc" style="display: none;">
                                                    Trái bầu dục, có khía chạy dọc theo thân trái, vỏ mềm, căng bóngCách dùng: Luộc, xào, trang trí món ănThời gian sử dụng: 03...
                                                </p>
                                                <div class="box-price">
                                                    <p class="pro-price">10,000₫</p>
                                                </div>
                                                <p class="pro-price-del">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        {% include "../views/block/_gallary.html" %}
        <div class="main-page" id="blog">
            <div class="container">
                <div class="main-content row">
                    <!-- Begin content -->
                    <div class="blog-content col-md-12">
                        <div class="row">
                        	<div class="col-md-12">
                                <div class="newsletter ">
                                    <div class="home-title">
                                        <h2>Danh mục bài viết</h2>
                                    </div>
                                    <div class="row products-resize">
                                        <div class="col-md-4  wow fadeInUp blog_all_1" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/detail.html">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_1.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/detail.html">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_2" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_2.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_3" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_3.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="newsletter ">
                                    <div class="home-title">
                                        <h2>Danh mục bài viết</h2>
                                    </div>
                                    <div class="row products-resize">
                                        <div class="col-md-4  wow fadeInUp blog_all_1" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/detail.html">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_1.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/detail.html">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_2" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_2.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_3" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_3.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" id="blog-container">
                                <div class="row">
                                    <div class="col-md-12 articles clearfix" id="layout-page">
                                        <div class="home-title">
                                            <h2>Tin tức</h2>
                                        </div>
                                        <!-- Begin: Nội dung blog -->
                                        <div class="new-panel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">
													<img src="//hstatic.net/760/1000098760/10/2016/6-29/937770_2013109115015_rau-cu-qua.jpg" alt="Vì sao người tiêu dùng không " tin"="" rau="" sạch?"="">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="content-panel">
                                                        <h3 class="title-panel"><a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">Vì sao người tiêu dùng không "tin" rau sạch?</a></h3>
                                                        <p> Sau hơn 6 năm triển khai Vietgap (thực hành sản xuất nông nghiệp tốt) tới nay mới chỉ có hơn 2.000 héc ta trên tổng số 830.000 héc ta rau sản xuất hàng năm đạt chứng nhận rau sạch Vietgap....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">
													<img src="//hstatic.net/760/1000098760/10/2016/7-25/dgdfgfhfgh.png" alt="Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Tỏi Lý Sơn, thanh long Bình Thuận, ổi Long Khánh… được các siêu thị, cửa hàng bán lẻ… dành những vị trí đẹp nhất để trưng bày quảng bá đến người tiêu dùng.Chưa bao giờ các kênh bán lẻ lại...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">
													<img src="//hstatic.net/760/1000098760/10/2016/7-25/blog.png" alt="Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Là nước xuất khẩu nông sản lớn trên thế giới nhưng trên sân nhà nông sản Việt Nam có nguy cơ bị bao vây bởi nông sản chất lượng cao đế từ các nước Bắc Mỹ và Newzeland sau TPP.Nếu...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Nội dung blog -->
                                    </div>
                                </div>
                            </div>
                            {% include "../views/block/_sidebar.html" %}
                        </div>
                    </div>
                </div>
                <!-- End content -->
            </div>
</main>
{% endblock %}