{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <div class="wapper">
        <div class="page-banner">
            <div class="container text-center clearfix">
                <h1>Tin tức</h1>
                <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li class="active">Tin tức</li>
                </ol>
            </div>
        </div>
        <div class="main-page" id="blog">
            <div class="container">
                <div class="main-content row">
                    <!-- Begin content -->
                    <div class="blog-content col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="newsletter ">
                                    <div class="home-title">
                                        <h2>Danh mục bài viết</h2>
                                    </div>
                                    <div class="row products-resize">
                                        <div class="col-md-4  wow fadeInUp blog_all_1" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/detail.html">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_1.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/detail.html">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_2" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_2.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4  wow fadeInUp blog_all_3" style="visibility: visible; animation-name: fadeInUp;">
                                            <div class="news-item product-resize text-center fixheight" style="height: 495px;">
                                                <div class="img-news image-resize" style="height: 269px;">
                                                    <a href="/blogs/news">
						<img src="//hstatic.net/760/1000098760/1000138691/img_blogs_3.jpg?v=402" alt="news">
					</a>
                                                </div>
                                                <div class="content-news">
                                                    <h3 class="title-news"><a href="/blogs/news">Tin tức</a></h3>
                                                    <div class="detail-news">
                                                        Do điều kiện tương đồng về văn hóa, gần về địa lý nên trên 70% khối lượng hàng hóa nông sản của ta được xuất khẩu sang các nước châu Á, còn với các thị trường khác như châu Phi,...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" id="blog-container">
                                <div class="row">
                                    <div class="col-md-12 articles clearfix" id="layout-page">
                                        <div class="home-title">
                                            <h2>Tin tức</h2>
                                        </div>
                                        <!-- Begin: Nội dung blog -->
                                        <div class="new-panel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">
													<img src="//hstatic.net/760/1000098760/10/2016/6-29/937770_2013109115015_rau-cu-qua.jpg" alt="Vì sao người tiêu dùng không " tin"="" rau="" sạch?"="">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="content-panel">
                                                        <h3 class="title-panel"><a href="/blogs/news/1000194985-vi-sao-nguoi-tieu-dung-khong-tin-rau-sach">Vì sao người tiêu dùng không "tin" rau sạch?</a></h3>
                                                        <p> Sau hơn 6 năm triển khai Vietgap (thực hành sản xuất nông nghiệp tốt) tới nay mới chỉ có hơn 2.000 héc ta trên tổng số 830.000 héc ta rau sản xuất hàng năm đạt chứng nhận rau sạch Vietgap....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194959-toi-oi-thanh-long-viet-len-vi-tri-nong-o-sieu-thi">
													<img src="//hstatic.net/760/1000098760/10/2016/7-25/dgdfgfhfgh.png" alt="Tỏi, ổi, thanh long... Việt lên vị trí nóng ở siêu thị">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Tỏi Lý Sơn, thanh long Bình Thuận, ổi Long Khánh… được các siêu thị, cửa hàng bán lẻ… dành những vị trí đẹp nhất để trưng bày quảng bá đến người tiêu dùng.Chưa bao giờ các kênh bán lẻ lại...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-panel">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3 class="title-panel"><a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam</a></h3>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-xs-4 post-padding">
                                                    <div class="img-panel">
                                                        <a href="/blogs/news/1000194946-nong-san-bac-my-ram-ro-tim-duong-vao-viet-nam">
													<img src="//hstatic.net/760/1000098760/10/2016/7-25/blog.png" alt="Nông sản Bắc Mỹ rầm rộ tìm đường vào Việt Nam">
												</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 col-md-9 col-xs-8  padding-30">
                                                    <div class="content-panel">
                                                        <p> Là nước xuất khẩu nông sản lớn trên thế giới nhưng trên sân nhà nông sản Việt Nam có nguy cơ bị bao vây bởi nông sản chất lượng cao đế từ các nước Bắc Mỹ và Newzeland sau TPP.Nếu...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Nội dung blog -->
                                    </div>
                                    <div class="col-md-12">
                                        <!-- Begin: Phân trang blog -->
                                        {% include "../views/block/_pagination.html" %}
                                        <!-- End: Phân trang blog -->
                                    </div>
                                </div>
                            </div>
                            {% include "../views/block/_sidebar.html" %}
                        </div>
                    </div>
                </div>
                <!-- End content -->
            </div>
        </div>
        {% include "../views/block/_gallary.html" %}
</main>
{% endblock %}