{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <div class="wapper">
        <div class="page-banner">
            <div class="container text-center clearfix">
                <h1>TẤT CẢ SẢN PHẨM</h1>
                <ol class="breadcrumb breadcrumb-arrow hidden-sm hidden-xs">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Sản phẩm</a>
                    </li>
                    <li class="active">Tất cả sản phẩm</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="main-page" id="wrapper-collection">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                    <!-- Begin collection info -->
                    <!-- Content-->
                    <div class="row main-content">
                        <div class="col-md-12">
                            <div class="toolbar-inner clearfix">
                                <div class="tool-sortby pull-left">
                                    <div class="browse-tags">
                                        <span>Sắp xếp theo:</span> <span class="custom-dropdown custom-dropdown--white"><select class="sort-by custom-dropdown__select custom-dropdown__select--white">
                                            <option value="price-ascending">
                                                Giá: Tăng dần
                                            </option>
                                            <option value="price-descending">
                                                Giá: Giảm dần
                                            </option>
                                            <option value="title-ascending">
                                                Tên: A-Z
                                            </option>
                                            <option value="title-descending">
                                                Tên: Z-A
                                            </option>
                                            <option value="created-ascending">
                                                Cũ nhất
                                            </option>
                                            <option value="created-descending">
                                                Mới nhất
                                            </option>
                                            <option value="best-selling">
                                                Bán chạy nhất
                                            </option>
                                        </select></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-list">
                            <div class="content-product-list products-resize">
                                <div class="product-list-view row products-grid grid">
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_0 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-romaine-dl" title="Xà lách Romaine - 130gr"><img alt=" Xà lách Romaine - 130gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-romaine-dl_large.jpg"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-romaine-dl" title="Xà lách Romaine - 130gr">Xà lách Romaine - 130gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây</p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_1 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr"><img alt=" Xà lách lô lô tím - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-lo-lo-tim-dl_large.jpg"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-lo-lo-tim-dl" title="Xà lách lô lô tím - 100gr">Xà lách lô lô tím - 100gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Phương pháp trồng: Thủy canhNhiều lá úp vào nhau, lá mỏng, mềm, màu tím đặc trưngCách dùng: Salad, trang trí món ănThời gian sử dụng:...</p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_2 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr"><img alt=" Xà lách Ice Berg - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-ice-berg-dl_large.jpg"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-ice-berg-dl" title="Xà lách Ice Berg - 100gr">Xà lách Ice Berg - 100gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây</p>
                                                <div class="box-price">
                                                    <p class="pro-price">7,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_3 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr"><img alt=" Xà lách Frise - 100gr " src="//hstatic.net/760/1000098760/1/2016/7-21/xa-lach-6_large.jpg"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/xa-lach-frisee" title="Xà lách Frise - 100gr">Xà lách Frise - 100gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Phương pháp trồng: Thủy canhCách dùng: Salad, trang trí món ănThời gian sử dụng: 03 ngàyQuy cách đóng gói: Túi/ cây</p>
                                                <div class="box-price">
                                                    <p class="pro-price">5,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_4 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/toi" title="Tỏi - 250gr"><img alt=" Tỏi - 250gr " src="//hstatic.net/760/1000098760/1/2016/7-21/toi_large.png"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/toi" title="Tỏi - 250gr">Tỏi - 250gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Phương pháp trồng: Truyền thốngCách dùng: Nầu canh, hầm, súp, trang trí món ănThời gian sử dụng: 05 ngàyQuy cách đóng gói: Túi/ 250gr</p>
                                                <div class="box-price">
                                                    <p class="pro-price">28,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajax_block_product wow fadeInUp animation rainbow_5 col-xs-12 col-sm-6 col-md-4 col-lg-4" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="product-item product-resize clearfix fixheight" style="height: 412px;">
                                            <div class="left-block product-img image-resize" style="height: 262px;">
                                                <a href="/products/su-su-non" title="Su su non - 300gr"><img alt=" Su su non - 300gr " src="//hstatic.net/760/1000098760/1/2016/7-21/su-su-non_large.jpg"></a><a href="/products/bi-nhat" class="mask-brg"></a>
                                                <div class="hover-mask">
                                                    <div class="inner-mask">
                                                        <a class="add-view-cart btn-cart add-cart " data-variant="1007783333" href="javascript:void(0);" title="Thêm vào giỏ">
                                                            <i class="fa fa-bars"></i>
                                                            Thêm vào giỏ
                                                        </a>
                                                        <ul class="add-to-links">
                                                            <li><a href="" class="mask-view" data-handle="/products/bi-nhat" title="Xem nhanh"><i class="fa fa-eye"></i></a></li>
                                                            <li><a href="/products/bi-nhat" class="" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-block product-detail">
                                                <h3 class="pro-name"><a href="/products/su-su-non" title="Su su non - 300gr">Su su non - 300gr</a></h3>
                                                <p class="pro-vendor">Nhà cung cấp: <span>Cầu Đất Farm</span></p>
                                                <p class="product-desc" style="display: none;">Trái bầu dục, có khía chạy dọc theo thân trái, vỏ mềm, căng bóngCách dùng: Luộc, xào, trang trí món ănThời gian sử dụng: 03...</p>
                                                <div class="box-price">
                                                    <p class="pro-price">10,000₫</p>
                                                </div>
                                                <p class="pro-price-del"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 pagination-top pw-default">
                                <div class="" id="pagination">
                                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs"></div>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
                                        <span class="page-node current">1</span> <a class="page-node" href="/collections/all?page=2">2</a> <a class="page-node" href="/collections/all?page=3">3</a> <span class="page-node">…</span> <a class="page-node" href="/collections/all?page=5">5</a>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
                                        <a class="pull-right next fa fa-angle-right" href="/collections/all?page=2"><span>Trang sau</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% include "../views/block/_product-sidebar.html" %} <!-- End collection info -->
                 <!-- Begin no products -->
                 <!-- End no products -->
            </div>
        </div>{% include "../views/block/_gallary.html" %}
    </div>
</main>{% endblock %}