ul {
	&.social {
	    margin-top: 40px;
	    margin-bottom: 0;
	    li {
		    display: inline-block;
		    line-height: 30px;
		    height: 30px;
		    width: 30px;
		    margin: 0 2px;
		    text-align: center;
		    background: #f2f2f2;
		    border-radius: 50%;
		    .transition(all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220));
		     a {
		     	color: #444;
		     	.fa {
		     		&:before {
			     		position: static;
			     		font-size: inherit;
		     		}
		     	}
		     }
		}
	}
}
.header-right-info {
	margin-top: 40px;
}
.search-form {
    width: 170px;
    float: right;
    padding: 13px 0;
}
.menu-nav {
	.flex-display();
}
.list-main-menu {
	margin: auto;
	li {
		float: left;
		a {
			padding: 19px 25px;
		    display: block;
		    text-transform: uppercase;
		    color: @text-color-4;
		    &:hover {
		    	color: #f2600d;
		    }
		}
		&.list-first-sub-menu {
			> a {
				&:after {
					content: "\f078";
					.fa-icon;
					font-size: 9px;
					.transition(all 0.2s ease-in-out);
				    color: @text-color-4;
				    vertical-align: top;
				    margin: 5px 0px 0px 12px;
				}
			}
		}
	}
}
.second-sub-menu {
	position: relative;
	width: 220px;
	.second-content-sub-menu {
		position: absolute;
	    z-index: 10;
	    width: 100%;
		background-color: @text-color-3;
	}
}
ul {
	&.sub-menu-2 { 
		li {
			float: inherit;
			a {
				padding-top: 10px;
			    padding-bottom: 10px;
			    text-transform: inherit;
			}
		}
	}
}