<div class="wap2">
    <div class="heading-title">
        <h3>HÌNH ẢNH GrowMax</h3>
    </div>
    <div class="gallery-image">
        <ul class="list-gallery  ">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_1 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_1.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_1.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_2 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_2.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_2.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_3 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_3.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_3.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_4 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_4.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_4.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_5 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_5.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_5.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_6 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_6.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_6.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_7 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_7.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_7.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 img_8 wow slideInLeft">
                <a class="fancybox" rel="group" href="//hstatic.net/760/1000098760/1000138691/gallery_img_8.jpg?v=402">
                    <div class="bkg-fancybox" style="background-image:url(//hstatic.net/760/1000098760/1000138691/gallery_img_8.jpg?v=402);background-size:cover;cursor: pointer;">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>