<div id="pagination" class="">
    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
    	<a class="prev fa fa-angle-left" href="/blogs/news?page=1"><span>Trang trước</span></a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-center">
        <span class="page-node current">1</span>
        <a class="page-node" href="/blogs/news?page=2">2</a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 hidden-xs">
        <a class="pull-right next fa fa-angle-right" href="#"><span>Trang sau</span></a>
    </div>
</div>