<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-left">
				<!-- Sidebar menu-->

<div class="news-menu list-group" id="list-group-l">
	
	<div class="menu-left-title">
		<strong>Nhóm danh mục</strong>
	</div>
	

	<ul class="nav navs sidebar menu" id="cssmenu">

		
		
		
		
		<li class="item  first">
			<a href="/">
				<span>Trang chủ</span>
			</a>
		</li>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<li class="item has-sub active ">
			<a href="/collections/all">
				<span class="lbl">Rau củ</span>
				<span data-toggle="collapse" data-parent="#cssmenu" href="#sub-item-2" class="sign">
					<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
				</span>
			</a>
			<ul class="nav children collapse in" id="sub-item-2">
				
				
				<li class="has-sub first current active">
					<a href="/collections/all" title="Rau ăn hoa quả">
						<span>Rau ăn hoa quả</span>
						<span class="sign drop-down">
							<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
						</span>
					</a>
					<ul class="nav children collapse lve2">
						
						<li class="even">
							<a href="/collections/all" title="Bầu sao">
								<span>Bầu sao</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Cà chua">
								<span>Cà chua</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Bông atiso">
								<span>Bông atiso</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Dưa leo">
								<span>Dưa leo</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Khổ qua">
								<span>Khổ qua</span>
							</a>				
						</li>
						
					</ul>
				</li>
				
				
				
				<li class="has-sub  current active">
					<a href="/collections/all" title="Rau ăn lá">
						<span>Rau ăn lá</span>
						<span class="sign drop-down">
							<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
						</span>
					</a>
					<ul class="nav children collapse lve2">
						
						<li class="odd">
							<a href="/collections/all" title="Bắp cải tím">
								<span>Bắp cải tím</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Bắp cải trái tim">
								<span>Bắp cải trái tim</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Cải bẹ xanh">
								<span>Cải bẹ xanh</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Cải bó xôi">
								<span>Cải bó xôi</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Cải ngọt">
								<span>Cải ngọt</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Cải thảo">
								<span>Cải thảo</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Xà lách">
								<span>Xà lách</span>
							</a>				
						</li>
						
					</ul>
				</li>
				
				
				
				<li class="has-sub last current active">
					<a href="/collections/all" title="Rau ăn thân củ">
						<span>Rau ăn thân củ</span>
						<span class="sign drop-down">
							<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
						</span>
					</a>
					<ul class="nav children collapse lve2">
						
						<li class="even">
							<a href="/collections/all" title="Cà rốt">
								<span>Cà rốt</span>
							</a>				
						</li>
						
					</ul>
				</li>
				
				
			</ul>
		</li>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<li class="item has-sub active ">
			<a href="/collections/all">
				<span class="lbl">Trái cây</span>
				<span data-toggle="collapse" data-parent="#cssmenu" href="#sub-item-3" class="sign">
					<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
				</span>
			</a>
			<ul class="nav children collapse in" id="sub-item-3">
				
				
				<li class="has-sub first current active">
					<a href="/collections/all" title="Trái cây Viêt Nam">
						<span>Trái cây Viêt Nam</span>
						<span class="sign drop-down">
							<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
						</span>
					</a>
					<ul class="nav children collapse lve2">
						
						<li class="odd">
							<a href="/" title="Dâu Đà Lạt">
								<span>Dâu Đà Lạt</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/" title="Cà chua">
								<span>Cà chua</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Nho">
								<span>Nho</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Cam">
								<span>Cam</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Chuối">
								<span>Chuối</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Bơ sáp">
								<span>Bơ sáp</span>
							</a>				
						</li>
						
					</ul>
				</li>
				
				
				
				<li class="has-sub last current active">
					<a href="/collections/all" title="Trái cây nhập khẩu">
						<span>Trái cây nhập khẩu</span>
						<span class="sign drop-down">
							<img src="//hstatic.net/0/0/global/design/theme-default/arrow-down.png">
						</span>
					</a>
					<ul class="nav children collapse lve2">
						
						<li class="odd">
							<a href="/collections/all" title="Cherry Canada">
								<span>Cherry Canada</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Cherry Mỹ">
								<span>Cherry Mỹ</span>
							</a>				
						</li>
						
						<li class="odd">
							<a href="/collections/all" title="Dâu Mỹ">
								<span>Dâu Mỹ</span>
							</a>				
						</li>
						
						<li class="even">
							<a href="/collections/all" title="Kiwi Hàn Quốc">
								<span>Kiwi Hàn Quốc</span>
							</a>				
						</li>
						
					</ul>
				</li>
				
				
			</ul>
		</li>
		
		
		
		
		
		<li class="item  ">
			<a href="/blogs/news">
				<span>Tin tức</span>
			</a>
		</li>
		
		
		
		
		
		<li class="item  ">
			<a href="/pages/about-us">
				<span>Giới thiệu</span>
			</a>
		</li>
		
		
		
		
		
		<li class="item  last">
			<a href="/pages/lien-he">
				<span>Liên hệ</span>
			</a>
		</li>
		
		
	</ul>

</div>
<script>
$(document).ready(function(){
	//$('ul li:has(ul)').addClass('hassub');
	$('#cssmenu ul ul li:odd').addClass('odd');
	$('#cssmenu ul ul li:even').addClass('even');
	$('#cssmenu > ul > li > a').click(function() {
		$('#cssmenu li').removeClass('active');
		$(this).closest('li').addClass('active');
		var checkElement = $(this).nextS();
		if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
			$(this).closest('li').removeClass('active');
			checkElement.slideUp('normal');
		}
		if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
			$('#cssmenu ul ul:visible').slideUp('normal');
			checkElement.slideDown('normal');
		}
		if($(this).closest('li').find('ul').children().length == 0) {
			return true;
		} else {
			return false;
		}
	});

	$('.drop-down').click(function(e){		
		if ( $(this).parents('li').hasClass('has-sub') ){
			e.preventDefault();
			if($(this).hasClass('open-nav')){
				$(this).removeClass('open-nav');
				$(this).parents('li').children('ul.lve2').slideUp('normal').removeClass('in');
			}else {
				$(this).addClass('open-nav');
				$(this).parents('li').children('ul.lve2').slideDown('normal').addClass('in');
			}
		}else {

		}
	});

});

$("#list-group-l ul.navs li.active").parents('ul.children').addClass("in");
</script>




<div class="sidebar_price list-group">
	<div class="menu-left-title">
		<strong>Lọc theo giá</strong>
	</div>									
	<aside class="widget widget_product_price_slide">
		<div id="slider-container" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0.0001%; width: 99.9999%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0.0001%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
		<input disabled="" type="text" id="amount">  
		<input type="hidden" id="amount-min">
		<input type="hidden" id="amount-max">
	</aside>

</div>		
<script>
var query = "/search?q=filter=("; 
var total_page = 0, cur_page = 0;
var genQuery = function(){
	_query = query ;
	/*
		jQuery('#filter-price input').each(function(){
			if(jQuery(this).is(':checked')){
				_query = _query + jQuery(this).val() + '&&';
			}
		});
	*/
	if ( jQuery('#amount-min').val() != '' && jQuery('#amount-max').val() != '' ) {
		_query = _query + '(' + jQuery('#amount-min').val() + '&&' + jQuery('#amount-max').val() + ')||';
	}

	var link = _query.split('||####');
	var query_final = link[0] + link[1] + ')';
	if ( jQuery('#filter-category input:checked').length == 0 && jQuery('#filter-size input:checked').length == 0 && jQuery('#filter-color li.active').length == 0 ) {

		var query1 = '';
		var query2 = '/search?q=';
		var coll_handle = 'all';
		console.log(coll_handle);
		if ( jQuery('#amount-min').val() != '' && jQuery('#amount-max').val() != '' ) {
			query1 = query1 + '(' + jQuery('#amount-min').val() + '&&' + jQuery('#amount-max').val() + ')';
			if ( coll_handle == 'all' ) {

				query_final = query2 + encodeURIComponent("filter=((collectionid:product>0)&&(" + query1 + "))");
			}
			else {
				query_final = query2 + encodeURIComponent("filter=((collectionid:product=0)&&(" + query1 + "))");
			}

		} else {
			if ( coll_handle == 'all' ) {
				query_final = query2 + encodeURIComponent("filter=(collectionid:product>0)");
			}
			else {
				query_final = query2 + encodeURIComponent("filter=(collectionid:product=0)");
			}
		}
	}
	console.log(query_final);
	console.log(coll_handle);
	return query_final;
}
//
var getProduct = function(page){
	jQuery.ajax({
		url: genQuery() + '&view=data&page='+page,
		success:function(data){
			jQuery('.pw-default').remove();
			jQuery('.products-grid').html('');
			jQuery('.empty').remove();
			jQuery('.products-grid').append(data);
			jQuery('.products-grid img').imagesLoaded( function() {
				jQuery(window).resize();
			});
		}
	});
}
//

</script>
<script>
jQuery(function () {
	jQuery('#slider-container').slider({
		range: true,
		min: 0,
		max: 1000000,
		values: [1, 10000000],
		create: function() {
			jQuery("#amount").val("0 đ - 1,000,000 đ");
		},
		slide: function (event, ui) {
			jQuery("#amount").val(numberWithCommas(ui.values[0]) + " đ- " + numberWithCommas(ui.values[1])+" đ");
			var price_min = '';
			var arr_price_min = numberWithCommas(ui.values[0]);
			jQuery.each(arr_price_min.split(','),function(i,v){
				price_min = price_min + v;
			});
			jQuery('#amount-min').val('(price:product>='+parseInt(price_min)+')');
			var price_max = '';
			var arr_price_max = numberWithCommas(ui.values[1]);
			jQuery.each(arr_price_max.split(','),function(i,v){
				price_max = price_max + v;
			});
			jQuery('#amount-max').val('(price:product<='+parseInt(price_max)+')');
			var mi = ui.values[0];
			var mx = ui.values[1];
			filterSystem(mi, mx);					
		},
		stop: function(event, ui) {
			jQuery.ajax({
				url: genQuery() + '&view=pagesize',
				success:function(data){
					total_page = parseInt(data);
				}
			});
			//lay trang dau tien
			jQuery.ajax({
				url: genQuery() + '&view=data',
				success:function(data){
					jQuery('.pw-default').remove();
					jQuery('.products-grid').html('');
					jQuery('.empty').remove();
					jQuery('.products-grid').append(data);
					jQuery('.products-grid img').imagesLoaded( function() {
						jQuery(window).resize();
					});
				}
			});
		}
	})
});
function filterSystem(minPrice, maxPrice) {
	jQuery("#product-sorting li.system").hide().filter(function () {
		console.log(jQuery(this).data("price")+"aâ");
		var price = parseInt(jQuery(this).data("price"), 10);
		return price >= minPrice && price <= maxPrice;
	}).show();
}
function numberWithCommas(number) {
	if (isNaN(number)) {
		return '';
	}

	var asString = '' + Math.abs(number),
			numberOfUpToThreeCharSubstrings = Math.ceil(asString.length / 3),
			startingLength = asString.length % 3,
			substrings = [],
			isNegative = (number < 0),
			formattedNumber,
			i;

	if (startingLength > 0) {
		substrings.push(asString.substring(0, startingLength));
	}

	for (i=startingLength; i < asString.length; i += 3) {
		substrings.push(asString.substr(i, 3));
	}

	formattedNumber = substrings.join(',');
	if (isNegative) {
		formattedNumber = '-' + formattedNumber;
	}

	return formattedNumber;
};
jQuery(document).ready(function(){
	jQuery('.image-resize img').imagesLoaded( function() {
		setTimeout(function(){
			jQuery(window).resize();
		},1000);
	});
});

var scrollToDiv = function(url){
	jQuery('html, body').animate({
		scrollTop: jQuery(url).offset().top
	}, 1300);
};
</script>



<div class="sidebar_vendors list-group">
	<div class="menu-left-title">
		<strong>Nhà cung cấp</strong>
	</div>
	<div class="widget_content">
		<ul>
			
			
			
			<li class="Cầu Đất Farm"><a title="Show vendor" href="/collections/vendors?q=cau-dat-farm">Cầu Đất Farm</a></li>
			
		</ul>
	</div>
</div>


			</div>